.itemdetail {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.itemcontador {
    
    border-radius: 8px;
    border: 4px solid #191933;
    margin: 10px;
    background-color: #191933;
    color: coral;
}

.imgcontador {
    width: 270px;
    height: 270px;
}