.articulo {
    margin-inline: 200px;
    margin-block: 50px;
}
.divArticulo {
    border-radius: 8px;
    border: 4px solid #191933;
    margin: 10px;
    background-color: #191933;
    color: coral;
    
}

.card {
    
    height: 270px;
    width: 270px;
}